.products-list{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.products-item{
    padding: 10px;
    width: 400px;
    border: 1px solid black;
}

.thumbnail{
    width: 50px;
}